* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: calc(var(--vh, 1vh) * 100);
    display: grid;
    place-items: center;
    overflow: hidden;
}

.joystick__container {
    width: 300px;
    aspect-ratio: 1 / 1;
}

.joystick__bg {
    display: grid;
    place-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    background: grey;
    border-radius: 50%;
}

.joystick__main {
    position: absolute;
    display: grid;
    place-items: center;
    width: 40%;
    aspect-ratio: 1 / 1;
    background-color: white;
    border-radius: 50%;
    border: solid 1px;
}

.joystick__main::before {
    content: "";
    position: absolute;
    border: solid 6px;
    border-radius: 50%;
}